* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #7e965ed0;
}

.svg-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../imagenes/svg/svgprueba.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}



.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #25D366;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.2);
}


/* flecha */

.boton-redondo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a746;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: none;
    transition: background 0.3s;
    z-index: 1000;
}

.boton-redondo:hover {
    background-color: #25D366;
}




.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #263A0A;
    padding: 5px 300px;
}

.navbar .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    padding: 10px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 15px;
    margin-top: 20px;
}

li a {
    position: relative;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
}

li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #FF6b00;
    transition: width 1.2s ease;
    /* velocidad lenta */
}

li a:hover::after {
    width: 100%;
    /* Se extiende al hacer hover */
}

li a:hover {
    color: #75c365b1;
}



ul .active li {
    display: inline-block;
}

.menu {
    margin-top: 20px;
    width: 50px;
    height: 60px;
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    padding-top: 10px;
}
/* banner principal */

.Banner-principal {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Banner-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 1140px;
    margin-top: 10px;
}

.banner-texto h1 {
    width: 1000px;
    font-size: 70px;
    margin-bottom: 10px;
}









/* Footer */

.footer {
    background-color: #263A0A;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 300px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer-logo img {
    height: 50px;
    margin: 10px;
}

.footer-nav a {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.footer-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: width 100s ease-in-out;
}

.footer-nav a:hover::after {
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #263A0A;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-social a:hover {
    background-color: #ccc;
    color: #000;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1.6;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.footer-bottom p {
    font-size: 15px;
}

.contenedor {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.item {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-block {
    background-color: #fceeca;
    padding: 150px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    height: 500px;
}


.texto-hay {
    font-size: 40px;
    text-align: center;
    margin-top: 400px;
    font-family: Arial, sans-serif;
    color: #fff;
}


.whatsapp-btn {
    margin-top: 1rem;
    display: block;
    background-color: #25D366;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    transition: background 0.9s;
    max-width: 50%;
    margin: 0 auto;
}

.whatsapp-btn:hover {
    background-color: #fff;
    color: #25D366;
}

.parallax {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.2s ease-in-out;
}

.from-right {
    transform: translateY(-300px);
}

.from-left {
    transform: translateY(200px);
}

.parallax.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}





/* Media query para pantallas de 1440px */
@media (max-width: 1440px) {

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 60px;
        margin-bottom: 180px;
    }

    .carousel-button {
        padding: 18px 28px;
        font-size: 18px;
    }
}

/* Media query para pantallas de 1280px */
@media (max-width: 1280px) {

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 50px;
        margin-bottom: 160px;
    }

    .carousel-button {
        padding: 15px 25px;
        font-size: 16px;
    }
}



@media (max-width: 1280px) {
    .menu {
        display: block;
    }


    .menu img {
        width: 40px;
        margin-top: 20px;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        object-fit: cover;
    }

    .carousel-item {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    ul.opciones {
        display: none;
        position: absolute;
        background: #2a4501;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 90px;
        padding: 0 0 70px 0;
        left: 0;
    }

    ul.active {
        display: flex;
        z-index: 10;
    }

    ul li {
        display: block;
    }

}


/* Media query para pantallas de 768px */
@media (max-width: 768px) {
    .navbar {
        padding: 5px 10px;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-nav {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-social {
        justify-content: center;
    }
}



/* Media query para pantallas menores de 500px (móviles) */
@media (max-width: 500px) {

    .logo img {
        width: 150px;
        height: auto;

    }

    .menu-btn {
        padding-top: 1px;
    }

    .navbar {
        padding: 5px 5px;
    }

    .navbar {
        padding: 5px 5px;
    }


    .contenido-principal {
        height: 100vh;
    }

    .banner-texto {
        width: 100%;
    }

    .banner-texto h1 {
        font-size: 35px;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }


    .grid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        padding-top: 100px; 
    }

    .whatsapp-btn {
        margin-top: 20px;
        max-width: 100%;
}

    .item,
    .text-block {
        height: auto; 
    }

    .footer-nav {
        max-width: 100px;
    }

    .footer-nav a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }


}