* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: #faf3e0;
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #263A0A;
    padding: 5px 300px;
}

.navbar .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    padding: 10px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 15px;
    margin-top: 20px;
}

li a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

ul .active li {
    display: inline-block;
}

.menu {
    margin-top: 20px;
    width: 50px;
    height: 60px;
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    padding-top: 10px;
}

/* banner principal */

.Banner-principal {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Banner-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 1140px;
    margin-top: 10px;
}

.banner-texto h1 {
    width: 1000px;
    font-size: 70px;
    margin-bottom: 10px;
}









/* Footer */

.footer {
    background-color: #263A0A;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 300px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer-logo img {
    height: 50px;
    margin: 10px;
}

.footer-nav a {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.footer-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: width 100s ease-in-out;
}

.footer-nav a:hover::after {
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #263A0A;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-social a:hover {
    background-color: #ccc;
    color: #000;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1.6;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.footer-bottom p {
    font-size: 15px;
}

.contenedor {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding-top: 400px;
}

.item {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.text-block {
    background-color: #fceeca;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    height: 500px;
}



/* Media query para pantallas de 1440px */
@media (max-width: 1440px) {

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 60px;
        margin-bottom: 180px;
    }

    .carousel-button {
        padding: 18px 28px;
        font-size: 18px;
    }
}

/* Media query para pantallas de 1280px */
@media (max-width: 1280px) {

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 50px;
        margin-bottom: 160px;
    }

    .carousel-button {
        padding: 15px 25px;
        font-size: 16px;
    }
}



@media (max-width: 1280px) {
    .menu {
        display: block;
    }


    .menu img {
        width: 40px;
        margin-top: 20px;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        object-fit: cover;
    }

    .carousel-item {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    ul.opciones {
        display: none;
        position: absolute;
        background: #2a4501;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 90px;
        padding: 0 0 70px 0;
        left: 0;
    }

    ul.active {
        display: flex;
        z-index: 10;
    }

    ul li {
        display: block;
    }

}


/* Media query para pantallas de 768px */
@media (max-width: 768px) {
    .navbar {
        padding: 5px 10px;
    }


    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-nav {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer-social {
        justify-content: center;
    }
}



/* Media query para pantallas menores de 500px (móviles) */
@media (max-width: 500px) {

    .logo img {
        width: 150px;
        height: auto;

    }

    .menu-btn {
        padding-top: 1px;
    }

    .navbar {
        padding: 5px 5px;
    }

    .navbar {
        padding: 5px 5px;
    }


    .contenido-principal {
        height: 100vh;
    }

    .banner-texto {
        width: 100%;
    }

    .banner-texto h1 {
        font-size: 35px;
        text-align: center;
        width: 70%;
        margin: 0 auto;
    }


    .grid {
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        padding-top: 100px; 
    }

    .item,
    .text-block {
        height: auto; 
    }

    .footer-nav {
        max-width: 100px;
    }

    .footer-nav a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }


}