* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: #7e965ed0;
}

html{
    scroll-behavior: smooth;
}

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #25D366;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.2);
}


/* flecha */

.boton-redondo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a746;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: none;
    transition: background 0.3s;
    z-index: 1000;
}

.boton-redondo:hover {
    background-color: #25D366;
}




.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #263A0A;
    padding: 5px 300px;
}

.navbar .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    padding: 10px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 15px;
    margin-top: 20px;
}

li a {
    position: relative;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
}

li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #FF6b00;
    transition: width 1.2s ease;
    /* velocidad lenta */
}

li a:hover::after {
    width: 100%;
    /* Se extiende al hacer hover */
}

li a:hover {
    color: #75c365b1;
}



ul .active li {
    display: inline-block;
}

.menu {
    margin-top: 20px;
    width: 50px;
    height: 60px;
    display: none;
}

.menu-btn {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    padding-top: 10px;
}

header {
    height: 100vh;
    overflow: hidden;
}

.carousel-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-overlay {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
}

.carousel-title1,
.carousel-title2,
.carousel-title3 {
    font-size: 70px;
    margin-bottom: 200px;
}

.carousel-button {
    background-color: #D94929;
    color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.8s;
}

.carousel-button:hover {
    background-color: #fff;
    color: #D94929;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: -150px;
}

.dot.active {
    background-color: #fff;
}



.carousel-item.active .carousel-overlay {
    opacity: 1;
}

.carousel-item.active.right .carousel-overlay {
    animation: slideInRight 2s ease forwards;
}

.carousel-item.active.left .carousel-overlay {
    animation: slideInLeft 2s ease forwards;
}

@keyframes slideInRight {
    0% {
        transform: translate(-50%, -50%) translateX(600px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    0% {
        transform: translate(-50%, -50%) translateX(-600px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) translateX(0);
        opacity: 1;
    }
}








/* Puntos de venta */

.venta {
    padding-top: 60px;
    font-size: 36px;
    text-align: center;
    color: #fff;
}

.puntosventa-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-puntosventa {
    padding-top: 80px;
    display: flex;
    gap: 50px;
    /* Reducir espacio entre fotos */
    flex-wrap: wrap;
}

.fotos-venta {
    flex: 1 1 100%;
    /* Deja que las imágenes se ajusten */
    max-width: 220px;
    max-height: 220px;
    text-align: center;
}

.fotos-venta img {
    width: 100%;
    height: 100%;
}


/* foto de banner chiquita */

.container-frutas {
    margin-top: 200px;
    max-width: 1920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.foto-chiquita {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.foto-chiquita img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.texto-sobre-foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 1000px;
}

h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
}

.info-tour {
    padding-top: 80px;
}

.infotour-button {
    background-color: #D94929;
    color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.8s;
}

.infotour-button:hover {
    background-color: #fff;
    color: #D94929;
}


/* Productos estrella */
/* Sección general de productos */

.contenedor-productos {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.titulo-estrella {
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
    color: #fff;
}

.productos {
    padding-top: 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.texto-productos {
    text-align: center;
}

.producto-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.img-container {
    position: relative;
    width: 100%;
    height: 500px;
    /* Aumenta el tamaño de la imagen */
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, filter 0.4s ease;
}

/* Efecto al hacer hover: oscurece y hace zoom */
.img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.4s ease;
    z-index: 1;
}

.producto-card:hover .img-container::after {
    background-color: rgba(0, 0, 0, 0.4);
}

.producto-card:hover img {
    transform: scale(1.1);
    filter: brightness(80%);
}

.card-contenido {
    padding: 1rem;
    text-align: left;
    z-index: 2;
    color: white;
    background-color: #263a0ad8;
}

.card-contenido h3 {
    margin-top: 0;
    color: white;
}

.whatsapp-btn {
    margin-top: 1rem;
    display: block;
    background-color: #263A0A;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    transition: background 0.3s;
}

.whatsapp-btn:hover {
    background-color: #1ebe5d;
}







/* foto de cafeteria */

.container-cafeteria {
    padding-top: 400px;
    max-width: 1920px;
}

.a {
    padding-top: 200px;
}

.foto-cafeteria {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.foto-cafeteria img {
    width: 100%;
    height: 1000px;
    object-fit: cover;
}

.texto-sobre-cafeteria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 1000px;
}

h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 25px;
}

.info-tour {
    padding-top: 80px;
}

.infotour-button {
    background-color: #D94929;
    color: #fff;
    padding: 20px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.8s;
}

.infotour-button:hover {
    background-color: #fff;
    color: #D94929;
}

/* mapa */
#map {
    height: 500px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.titulo-ubicacion {
    font-size: 30px;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}


/* formulario para mas info */
/* formulario para más info */

input, select, textarea {
    background-color: #FAF3E0;
    outline: none;
}

input:focus, select:focus, textarea:focus {
    background-color: #FAF3E0;
}

.container-formulario {
    margin-top: 300px;
}

.texto-formulario {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.contact-from {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

.container-formulario {
    max-width: 1440px;
    align-items: center;
    padding-top: 150px;
    margin: 0 auto;
    font-weight: 600;
}

input,
select,
.button-formulario {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Botón deshabilitado */
.button-formulario {
    background: gray;
    color: white;
    cursor: not-allowed;
    border: none;
    width: 30%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}

/* Botón activado dinámicamente con JavaScript */
.button-formulario.enabled {
    background: #263A0A;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}


.campo-textarea {
    margin-bottom: 1.5rem;
    position: relative;
}

.campo-textarea label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
}

.campo-textarea textarea {
    width: 100%;
    max-width: 100%;
    min-height: 120px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}


.contador {
    font-size: 0.875rem;
    color: #666;
    text-align: right;
    margin-top: 4px;
}




/* Footer */

.footer {
    background-color: #263A0A;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 300px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer-logo img {
    height: 50px;
    margin: 10px;
}

.footer-nav a {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.footer-nav a:hover{
    color: #75c365b1;
}


.footer-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #FF6b00;
    transition: width 1.2s;
}


.footer-nav a:hover::after {
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #263A0A;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-social a:hover {
    background-color: #ccc;
    color: #000;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1.6;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.footer-bottom p {
    font-size: 15px;
}

.contenedor {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}





@media (max-width: 1280px) {
    .menu {
        display: block;
    }


    .menu img {
        width: 40px;
        margin-top: 20px;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        object-fit: cover;
    }

    .carousel-item {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }

    ul.opciones {
        display: none;
        position: absolute;
        background: #2a4501;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 90px;
        padding: 0 0 70px 0;
        left: 0;
    }

    ul.active {
        display: flex;
        z-index: 10;
    }

    ul li {
        display: block;
    }

    .carousel-button {
        padding: 18px 28px;
        font-size: 18px;
    }






    /* puntos */
    .carousel-dots {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10;
    }

    .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        margin-top: -20px;
    }

    .dot.active {
        background-color: #fff;
    }



    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 26px;
        margin-bottom: 70px;
        padding-top: 60px;
        max-width: 500px;
        height: 250px;
        margin: 0 auto;
    }

    .carousel-item img {
        width: 100%;
        height: 800px;
        object-fit: cover;
    }


    
    .venta,
    .texto-prin-niña {
        font-size: 27px;
        max-width: 300px;
        margin: 0 auto;
    }

    .texto-niña {
        font-size: 25px;
    }

    .texto-sobre-foto,
    .texto-sobre-cafeteria {
        width: 90%;
        padding: 0 10px;
    }

    .container-frutas,
    .container-cafeteria,
    .container-formulario {
        margin-top: 100px;
    }

    .foto-cafeteria img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .puntosventa-container,
    .productos,
    .footer-top {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin: 0 auto;
    }

    .footer-nav {
        max-width: 100px;
    }

    .footer-nav a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .producto-card {
        width: 90%;
    }

    #map {
        width: 90%;
    }

    .texto-formulario {
        font-size: 23px;
    }

    .container-formulario {
        padding: 10px;
        max-width: 350px;
    }

    .carousel-button,
    .infotour-button {
        padding: 12px 20px;
        font-size: 16px;
    }

    .footer {
        padding: 0;
        margin-top: 100px;
    }

    .foto-chiquita img {
        height: 800px;
        max-width: 1000px;
        margin: 0 auto;
    }

    p.texto-niña {
        font-size: 25px;
    }

    h2.texto-prin-cafeteria {
        font-size: 25px;
    }

    .texto-sobre-foto p {
        font-size: 15px;
        padding-top: 30px;
    }

    h3.titulo-ubicacion {
        font-size: 21px;
    }


}


/* Media query para pantallas de 768px */
@media (max-width: 768px) {
    .navbar {
        padding: 5px 10px;
    }

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 40px;
        margin-bottom: 140px;
    }

    .carousel-button {
        padding: 12px 20px;
        font-size: 14px;
    }

    /* Ajuste de la imagen del carrusel */
    .carousel-item img {
        object-fit: cover;
        height: 800px;
        /* Asegúrate de ajustar la altura de la imagen */
        width: 100%;
    }




    .fotos-puntosventa {
        display: flex;
        gap: 20px;
        justify-content: center;
    }

    .fotos-venta {
        flex: 1 1 100%;
        /* 1 imagen por fila */
        max-width: 200px;
        /* Limitar el tamaño máximo de las imágenes */
    }


    .container-frutas {
        margin-top: 200px;
    }


    .foto-chiquita img {
        object-fit: cover;
        height: 500px;
        /* Ajusta la altura de la imagen */
    }


    h2.texto-prin-cafeteria {
        font-size: 27px;
    }

    .texto-sobre-foto p {
        font-size: 15px;
    }

    .infotour-button {
        background-color: #D94929;
        color: #fff;
        padding: 7px 15px;
        border-radius: 20px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        transition: background-color 0.8s;
    }
}



/* Media query para pantallas menores de 500px (móviles) */
@media (max-width: 500px) {
    .logo img {
        width: 150px;
    }

    .menu button {
        padding: 0;
    }

    .carousel-title1,
    .carousel-title2,
    .carousel-title3 {
        font-size: 22px;
        margin-bottom: 80px;
        padding-top: 60px;
        max-width: 350px;
        height: 250px;
        margin: 0 auto;
    }

    .carousel-item img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .venta,
    .texto-prin-niña {
        font-size: 27px;
        max-width: 300px;
        margin: 0 auto;
    }

    .texto-niña {
        font-size: 25px;
    }

    .texto-sobre-foto,
    .texto-sobre-cafeteria {
        width: 90%;
        padding: 0 10px;
    }

    .container-frutas,
    .container-cafeteria,
    .container-formulario {
        margin-top: 100px;
    }

    .foto-cafeteria img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .puntosventa-container,
    .productos,
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav {
        max-width: 100px;
    }

    .footer-nav a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .producto-card {
        width: 90%;
    }

    #map {
        width: 90%;
    }

    .texto-formulario {
        font-size: 23px;
    }

    .container-formulario {
        padding: 10px;
        max-width: 350px;
    }

    .carousel-button,
    .infotour-button {
        padding: 12px 20px;
        font-size: 16px;
    }

    .footer {
        padding: 0;
        margin-top: 100px;
    }

    .foto-chiquita img {
        height: 550px;
        max-width: 650px;
    }

    p.texto-niña {
        font-size: 17px;
    }

    .a {
        padding-top: 100px;
    }

    h2.texto-prin-cafeteria {
        font-size: 25px;
    }

    .texto-sobre-foto p {
        font-size: 15px;
        padding-top: 30px;
    }

    h3.titulo-ubicacion {
        font-size: 21px;
    }
}