* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #7e965ed0;
}

.svg-fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('../imagenes/svg/svgprueba.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    pointer-events: none;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
}

/*rotar*/
@keyframes rotarIcono {
    0% {
        transform: rotate(0deg) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: rotate(180deg) scale(1.2);
        opacity: 1;
    }
}

.animar-icono {
    animation: rotarIcono 0.4s ease;
}



.whatsapp-float {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    background-color: #25D366;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    color: #fff;
    font-size: 32px;
    text-decoration: none;
}

.whatsapp-float:hover {
    transform: scale(1.2);
}


/* flecha */

.boton-redondo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a746;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    align-items: center;
    line-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: none;
    transition: background 0.3s;
    z-index: 1000;
}

.boton-redondo:hover {
    background-color: #25D366;
}




.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #263A0A;
    padding: 5px 300px;
}

.navbar .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
    padding: 10px;
}

ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul li {
    padding: 15px;
    margin-top: 20px;
}

li a {
    position: relative;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 5px;
}

li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: #FF6b00;
    transition: width 1.2s ease;
    /* velocidad lenta */
}

li a:hover::after {
    width: 100%;
    /* Se extiende al hacer hover */
}

li a:hover {
    color: #75c365b1;
}



ul .active li {
    display: inline-block;
}
.menu {
    margin-top: 20px;
    width: 50px;
    height: 60px;
    display: none;
}

.menu-btn{
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    padding-top: 10px;
}





/* banner principal */

.Banner-principal{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Banner-principal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.banner-texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    max-width: 1140px;
    margin-top: 10px;
}

.banner-texto h1 {
    width: 1000px;
    font-size: 70px;
    margin-bottom: 10px;
}



.container_info {
    display: flex;
    max-width: 1400px;
    margin: 100px auto 0 auto;
    height: 100vh;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* LEFT side con curva */
.left {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fceeca; /* Crema */
    color: #000;
    position: relative;
}



/* Textos */
.left h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.left p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
}

/* RIGHT */
.right {
    width: 50%;
    background-color: #4C6B43; /* Verde natural */
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

/* Curva blanca */
.curve-shape {
    position: absolute;
    top: 0;
    right: -10%;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: ellipse(65% 70% at 100% 50%);
    z-index: 1;
}

.berry-image {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 65%;
    object-fit: cover;
    z-index: 0;
}

/* Texto de la derecha */
.right-content {
    position: relative;
    z-index: 200;
    max-width: 200px;
    text-align: center;
    color: white;
    left: -200px; /* Mover al centro del fondo sólido */
}

.right-content h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.right-content p {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.6;
}




/* Posiciones iniciales */
.from-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease-out;
}

.from-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateX(0);
}















/* video */

/* Texto fijo arriba del video */
.video-description {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fceeca; /* Color crema */
    text-align: center;
    padding: 20px 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);

}

.video-h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.video-p {
    font-size: 25px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

/* Galeria de fotos */


.container {
  position: relative;
  perspective: 800px;
  width: 1440px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(130deg, #75c365b0, #3b5f0bc0); /* tonos verdes */
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 30px rgba(144, 238, 144, 0.338);
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 15px;
}

/* Reflejo inferior */
.container::after {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transform: scaleY(-1);
  opacity: 0.3;
  filter: blur(10px);
  pointer-events: none;
}

.titulo_galeria{
    text-align: center;
    padding-top: 300px;
    font-size: 40px;
}

.grid {
    display: flex;
    transform: rotateX(30deg) rotateZ(42deg);
    gap: 45px;
    width: 100%;
    margin-right: 1050px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.move-up {
  animation-name: floatUp;
}

.move-down {
  animation-name: floatDown;
}

@keyframes floatUp {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-40px); }
}

@keyframes floatDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(40px); }
}

.fotos_galeria {
  width: 400px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.fotos_galeria:hover {
  transform: translateY(-10px) scale(1.05);
  cursor: pointer;
}


/* Responsive */
@media (max-width: 768px) {
  .grid {
    flex-direction: row;
    transform: rotateX(20deg) rotateZ(0deg);
    flex-wrap: wrap;
  }

  img {
    width: 160px;
    height: 100px;
  }
}














/* Footer */

.footer {
    background-color: #263A0A;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 300px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.footer-logo .logo_footer {
    height: 50px;
    margin: 10px;
}

.footer-nav a {
    color: white;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    margin: 5px;
}

.footer-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    transition: width 100s ease-in-out;
}

.footer-nav a:hover::after {
    width: 100%;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.footer-social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #263A0A;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.footer-social a:hover {
    background-color: #ccc;
    color: #000;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    line-height: 1.6;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
}

.footer-bottom p {
    font-size: 15px;
}

.contenedor {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}












/* Media query para pantallas de 1440px */
@media (max-width: 1440px) {
    .carousel-title1, .carousel-title2, .carousel-title3 {
        font-size: 60px;
        margin-bottom: 180px;
    }

    .carousel-button {
        padding: 18px 28px;
        font-size: 18px;
    }
}

/* Media query para pantallas de 1280px */
@media (max-width: 1280px) {
    .carousel-title1, .carousel-title2, .carousel-title3 {
        font-size: 50px;
        margin-bottom: 160px;
    }

    .carousel-button {
        padding: 15px 25px;
        font-size: 16px;
    }
}



@media (max-width: 1280px) {
    /* ===== Morphing Navbar en scroll ===== */
.morphing-header {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  width: 700px;
  height: 100px;
  margin: 0 auto;
  border-radius: 999px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: all 0.6s ease;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.morphing-header.compact {
  top: 20px;
  width: 90px;
  height: 90px;
}

.morphing-header .opciones {
  transition: all 0.4s ease;
  opacity: 1;
  pointer-events: auto;
}

.morphing-header.compact .opciones {
  opacity: 0;
  pointer-events: none;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: 998;
  transition: opacity 0.3s ease;
}

.menu-overlay.show {
  opacity: 1;
  visibility: visible;
}
    
    
    
    .menu {
        display: block; 
    }


    .menu img{
        width: 40px;
        margin-top: 20px;
    }

    .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
        object-fit: cover;
    }
    
    .carousel-item {
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    ul.opciones {
        display: none;
        position: absolute;  
        background: #2a4501;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        top: 90px;
        padding: 0 0 70px 0;
        left: 0;  
    }

    ul.active {
        display: flex;
        z-index: 10; 
    }

    ul li {
        display: block;  
    }




    .whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25D366;
    border-radius: 100%;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
    color: #fff;
    font-size: 30px;
}
.whatsapp-float:hover {
    transform: scale(1.2);
}
    










}




/* Media query para pantallas de 768px */
@media (max-width: 768px) {
    .navbar {
            padding: 5px 10px;
        }
    
        .footer-top {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    
        .footer-nav {
            justify-content: center;
            flex-wrap: wrap;
            gap: 10px;
        }
    
        .footer-social {
            justify-content: center;
        }

        .banner-texto h1{
        font-size: 28px;
        max-width: 350px;
    }
    
    
    
    
        .container {
            flex-direction: column;
            height: auto;
            margin: 50px 20px 0 20px;
            border-radius: 20px;
        }
    
        .left,
        .right {
            width: 100%;
            padding: 30px 20px;
            border-radius: 0;
        }
    
        .right {
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    
        .right-content {
            left: -180px;
            max-width: 100%;
            height: 400px;
            padding-top: 50px;
        }
    
    
    
        .left::after {
            display: none;
        }
    
        .right-content h1 {
            font-size: 26px;
            margin-bottom: 20px;
        }
    
        .right-content p {
            font-size: 17px;
            font-weight: bold;
            line-height: 1.6;
        }
    
        h1 {
            font-size: 27px;
        }

}



/* Media query para pantallas menores de 500px (móviles) */
@media (max-width: 500px) {

    .logo img{
        width: 150px;
        height: auto;
        
    }

    .menu-btn{
        padding-top: 1px;
    }

    .navbar{
        padding:  5px 5px;
    }

    .navbar {
        padding: 5px 5px;
    }

    .Banner-principal img{
        height: 100vh;
        width: 100%;
    }

    .banner-texto h1{
        font-size: 28px;
        max-width: 350px;
    }

    .container{
        flex-direction: column;
        height: auto;
        margin: 50px 20px 0 20px;
        border-radius: 20px;
    }

    .left,
    .right{
        width: 100%;
        padding: 30px 20px;
        border-radius: 0;
    }

    .right{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .right-content{
        left: -90px;
        max-width: 45%;
        height: 500px;
    }



    .left::after{
        display: none;
    }

    .right-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.right-content p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.6;
}



    .video-h2 {
        font-size: 22px;
    }

    .video-p {
        font-size: 16px;
        max-width: 90%;
    }

    .video-container {
        height: 300px; /* Ajusta para que no sea muy largo en celulares */
        padding-top: 50px;
    }

    .footer-nav {
        max-width: 100px;
    }

    .footer-nav a {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }






}